<body class = "full-bleed">
<div class="container" [ngClass]="{notSale: !wine.isOnSale, sale: wine.isOnSale}">

<img [src]="wine.imageUrl"/> 

<div class= "info">
  <h2>{{wine.name}}</h2>
  <div>{{wine.price}} €</div>
  <div>
  <span>Food Matching:</span>
  <span *ngFor="let food of wine.foodPairing">
       {{food.name}} |
  </span>
  <div class = "not-available" *ngIf = "!wine.isOnSale">Not available</div> 
  <div class = "available" *ngIf = "wine.isOnSale">Currently available</div> 
  </div>
</div>

</div>
</body>
